.bebetter-wrapper {
  padding: 60px 80px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #f986bd;
  margin-bottom: 8px;
  white-space: nowrap;
}

.breadcrumbbar {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
}

.divider {
  color: #f986bd;
}

.bebetter-title {
  font-size: 100px;
  font-weight: 800;
  color: #f986bd;
  text-align: center;
  margin-bottom: 12px;
}

.bebetter-desc {
  font-size: 18px;
  font-weight: 600;
  color: #ed5fa5;
  text-align: center;
  margin-bottom: 64px;
}

.bebetter-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bebetter-card {
  display: flex;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 10px 0 0;
  align-items: center;
  gap: 32px;
}

.bebetter-text {
  flex: 1;
}

.bebetter-text h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 8px;
}

.bebetter-text .label {
  font-size: 100px;
  margin-bottom: 12px;
  color: #ed5fa5;
}

.bebetter-text ul {
  list-style: disc;
  padding-left: 20px;
}

.bebetter-text ul li {
  margin-bottom: 6px;
  font-size: 15px;
  color: #555;
}

.bebetter-card {
  padding: 0;
  gap: 16px;
}

.card-header {
  font-size: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.bebetter-blocksidetitle1 {
  color: #fd565a;
  font-size: 55px;
  font-weight: bold;
  margin: 0;
}

.bebetter-blocksidetitle2 {
  color: #ae8d60;
  font-size: 55px;
  font-weight: bold;
  margin: 0;
}

.bebetter-blocksidetitle3 {
  color: #00922a;
  font-size: 55px;
  font-weight: bold;
  margin: 0;
}

.highlight-brown {
  font-size: 12px;
}
.highlight-green {
  font-size: 12px;
}
.highlight-red {
  font-size: 12px;
}

.more-link {
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
}
.more-link.red {
  text-align: left;
  background-color: #ff2a56;
}
.more-link.brown {
  background-color: #ff2a56;
}
.more-link.green {
  background-color: #ff2a56;
}

.detail {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
  margin-bottom: 12px;
}

.check-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.check-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #333;
}
.check-icon {
  flex-shrink: 0;
  margin-top: 2px;
}

.content1 {
  color: #fd565a;
  min-height: 30px;
  font-size: 15px;
  font-weight: bolder;
}

.content2 {
  color: #a5955e;
  min-height: 30px;
  font-size: 15px;
  font-weight: bolder;
}

.content3 {
  color: #00932b;
  min-height: 30px;
  font-size: 15px;
  font-weight: bolder;
}
