/* 전체 박스 설정 */
.flavor-history-page {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 60px;
  font-family: "Noto Sans KR", sans-serif;
  overflow: hidden;
  text-align: left;
}

/* 상단 경로 표시 (breadcrumb) */
.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #ed5fa5;
  margin-bottom: 8px;
  white-space: nowrap;
}
.breadcrumbbar {
  color: #ed5fa5;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}
.divider {
  color: #f986bd;
}
.divider1 {
  color: #d4d4d4;
  margin-left: 10px;
}

/* 페이지 타이틀 및 설명 */
.page-title {
  font-size: 64px;
  font-weight: 800;
  color: #f986bd;
  text-align: center;
  margin-bottom: 16px;
}
.page-desc {
  font-size: 18px;
  font-weight: 600;
  color: #ed5fa5;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 64px;
}

/* 상단 탭 (연도별 보기 / 테마별 보기) */
.tabs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.tab {
  font-size: 15px;
  padding: 10px 24px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  color: #aaa;
  cursor: pointer;
  text-decoration: none;
}
.tab.active {
  font-weight: bold;
  background: #fff;
  color: #000;
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  z-index: 1;
}

/* 연도 선택 바 */
.year-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
  list-style: none;
  padding: 0;
}
.year-list li {
  font-size: 15px;
  color: #666;
  cursor: pointer;
}
.year-list .active-year {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

/* 이미지 목록 그리드 */
.flavor-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
}

/* 개별 이미지 */
.flavor-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
  transition: transform 0.2s;
}

.flavor-image:hover {
  transform: scale(1.03);
}
