.store-map__content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 370px;
  height: 100%;
  border-style: solid;
  border-color: #e0e2e3;
  border-width: 1px 1px 1px 0;
  background: #fff;
  box-sizing: border-box;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
